
.jumbotron {
    color:whitesmoke;
    background-color: rgb(34, 34, 34);
    padding-top: 5px;
    height: 100%;
    text-align: center;
}

.logo {
    max-height: 52px
}

.hidden {
    display:none;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

table {
    text-align: left;
}

/* Date And Number */
#table {
    margin : 0px;
    padding: 0px;
    text-align: center;
}

.openedDay {

}

.closedDay {
    background:grey;
}

.selectedDay {

}

