<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title_onglet %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+lmTKXkS+c9d34U9obDdGOZT7zqFicJDkhckYYsW7oenXR37T2OEV4uqfUO45M87" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" >
                <img class="logo" src="/assets/louvre.png" alt="Logo le louvre" >
                <h1 class="display-3">{% block title %}Welcome!{% endblock %}</h1>
                <br>
                <br>
                <div class="row">
                    <div class="offset-md-3 col-md-6">
                {% block body %}{% endblock %}
                    </div>
                </div>

                
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
