{% extends 'base.html.twig' %}


{% block title %}Mes coodronnées de facturation{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <h3>Coordonées</h3>
        <div class="col-md-12">
            <div class='form-group'>
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.email) }}
            </div>
            <div class='form-group'>
                {{ form_label(form.email2, 'Email (confirmation)') }}
                {{ form_widget(form.email2, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.email2) }}
            </div>
            <div class='form-group'>
                {{ form_label(form.name, 'Nom') }}
                {{ form_widget(form.name, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.name) }}
            </div>
            <div class='form-group'>
                {{ form_label(form.firstName, 'Prénom') }}
                {{ form_widget(form.firstName, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.firstName) }}
            </div>
        </div>
        <h3>Adresse de facturation</h3>
        <div class="col-md-12">
            <div class='form-group'>
                {{ form_label(form.formAddress1, 'Adresse') }}
                {{ form_widget(form.formAddress1, {'attr':{'class':'form-control'}})}}
                {{ form_widget(form.formAddress2, {'attr':{'class':'form-control', 'placeholder':'Complement'}})}}
                {{ form_errors(form.formAddress1) }}
                {{ form_errors(form.formAddress2) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class='form-group'>
                {{ form_label(form.formCP, 'Code postal') }}
                {{ form_widget(form.formCP, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.formCP) }}
            </div>
        </div>
        <div class="col-md-8">
            <div class='form-group'>
                {{ form_label(form.formCity, 'Ville') }}
                {{ form_widget(form.formCity, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.formCity) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class='form-group'>
                {{ form_label(form.formCountry, 'Pays') }}
                {{ form_widget(form.formCountry, {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.formCountry) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class='form-group'>
                {{ form_widget(form.send, {'attr':{'class':'btn btn-block btn-primary'}, 'label': 'Valider et passer à l\'étape suivante'}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
