{% extends 'base.html.twig' %}


{% block title %}Ma visite au louvre{% endblock %}

{% block javascripts %}
    <script src="/assets/calendar.js"></script>
{% endblock %}

{% block body %}
    {% set days = calendar.days %}

    {% for e in form.vars.errors %}
        <div class="alert alert-danger">{{ e.message }}</div>
    {% endfor %}
{{ form_start(form) }}
<div class='form-group'>
    {{ form_label(form.number, 'Nombre de visiteur') }}
    {{ form_widget(form.number, {'attr':{'class':'form-control'}})}}
    {{ form_errors(form.number) }}
</div>

<div class="row">
    <div class="col-sm-12 centered"><h2>{{ calendar.currentMonthTitle }}</h2></div>
    <div class="col-sm-6">
        {% if calendar.hasPreviousMonth %}
            {% do form.previous.setRendered %}
        {% else %}
            {{ form_widget(form.previous, {'attr':{'class':'btn btn-block btn-primary', 'onchange':'onUpdateNumber'}, 'label': calendar.previousMonthTitle}) }}
        {% endif %}
    </div>
    <div class="col-sm-6">
        {{ form_widget(form.next, {'attr':{'class':'btn btn-block btn-primary'}, 'label': calendar.nextMonthTitle}) }}
    </div>
    
    <br>
    <br>
    <table id="table" class="table"  data-form-number="{{form.number.vars.id}}" data-form-date="{{form.date.vars.id}}">
        <thead>
            <tr>
                <th scope="col" width="14%">Lun.</th>
                <th scope="col" width="14%">Mar.</th>
                <th scope="col" width="14%">Mer.</th>
                <th scope="col" width="14%">Jeu.</th>
                <th scope="col" width="14%">Ven.</th>
                <th scope="col" width="14%">Sam.</th>
                <th scope="col" width="14%">Dim.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if(days[0].w != "1") %}
                <td colspan="{{ days[0].w == 0 ? 6 : days[0].w -1 }}"></td>
                {% endif %}
                {% for d in days %}
                    {% if d.isClose %}
                        <td class="closedDay">{{d.d}}</td>
                    {% else %}
                        <td class="openedDay" onclick="onDateClick($(this));" data-q="{{d.q}}" data-date="{{d.date}}"><div class="openedDaySpan">{{d.d}}</div></td>
                    {% endif %}
                    {% if d.w == 0 %}
                    </tr></tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<br>
<script>
    $( document ).ready(function(){
        $('#{{form.number.vars.id}}').on('change', onUpdateNumber);
        onUpdateNumber();
        $(".openedDay[data-date='{{form.date.vars.value}}']").trigger('click');
    });
    

</script>
    



<div class='form-group '>
    <div class="hidden">
    {{ form_widget(form.date, {'attr':{'class':'form-control'}})}}
    </div>
    {{ form_errors(form.date) }}
</div>

<div class='form-group'>
    {{ form_widget(form.send, {'attr':{'class':'submitBtn btn btn-block btn-primary', 'disabled':true}, 'label': 'Valider et passer à l\'étape suivante'}) }}
</div>
    
    
{{ form_end(form) }}
{% endblock %}
