{% extends 'base.html.twig' %}


{% block title %}Votre commande a été effectuée{% endblock %}

{% block body %}
    <div class="alert alert-success">
        Votre commande a été effectuée. un mail de confirmation vous a été envoyé a l'adresse suivante : {{ order.getEmail }}
    </div>
    <ul class="left">
        <li>Jour de la visite :
            <b>{{ order.getDate.format('d/m/Y') }}
                {% if order.getFullDay %}
                    (demi-journée)
                {% endif %}
            </b></li>
        <li>Numéro de commande : <b>{{ order.getBillingId }}</b></li>
        <li>Nombre de visiteurs : <b>{{ order.getNumber }}</b></li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type</th>
            <th>Prix (€)</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in order.getTicket %}
            <tr>
                <td>{{ ticket.getName }}</td>
                <td>{{ ticket.getFirstName }}</td>
                <td>{{ ticket.getType }}</td>
                <td>{{ ticket.getPrice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
