{% extends 'base.html.twig' %}


{% block title %}Ma visite{% endblock %}

{% block body %}
    {% for e in error %}
        <div class="alert alert-danger">
            <p>{{ e }}</p>
        </div>
    {%  endfor %}
    {% for i, day in daySettings %}
        {{ priceManager.resetTotal() }}
        <section>
            <header>
                <h3>{{ day.title }}</h3>
            </header>
            <div>
                <table class="table">
                    <thead>
                    <tr class="centered">
                        <th>Type</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in orderTypes %} {% if type.count is defined %}
                    <tr>
                        <td>{{ type.nom }}</td>
                        <td class="right">{{ priceManager.getPrice(type.price, day.price) }}€</td>
                        <td class="right">{{ type.count }}</td>
                        <td class="right">{{ priceManager.addPriceToTotal(type.price, day.price, type.count)}}€</td>
                    </tr>
                    {% endif %} {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">Total</th>
                        <th class="right">{{ priceManager.getTotal }}€</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <form method="POST" action="{{ path('ticketTypeAndStripe') }}?token={{ priceManager.getToken(day)}}&price={{ priceManager.getStripeTotal }}">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-label="Choisir {{ day.title }} et payer"
                    data-key="{{ stripe_public }}"
                    data-amount="{{ priceManager.getStripeTotal }}"
                    data-name="Le louvre (OCR)"
                    data-description="{{ order.getDate().format('m/d/Y') }} | {{ day.title }}"
                    data-locale="auto"
                    data-currency="eur"
                    data-email ={{ order.getEmail }}
                    args= {
                        // Billing name and address
                        "billing_name":                     "{{ order.getFirstName }} {{ order.getName }}",
                        "billing_address_zip":              "{{ order.getFormCP }}",
                        "billing_address_line1":            "{{ order.getFormAddress1 }}",
                        "billing_address_line2":            "{{ order.getFormAddress2 }}",
                        "billing_address_city":             "{{ order.getFormCity }}",
                        "billing_address_country_code":     "{{ order.getFormCountry }}",

                        // Shipping name and address
                        "shipping_name":                    "{{ billing.name }}",
                        "shipping_address_country":         "{{ billing.country }}",
                        "shipping_address_zip":             "{{ billing.postalCode }}",
                        "shipping_address_line1":           "{{ billing.address1 }}",
                        "shipping_address_line2":           "{{ billing.address2 }}",
                        "shipping_address_city":            "{{ billing.city }}",
                        "shipping_address_country_code":    "{{ billing.countryCode }}"
                    }
                >
                </script>
                </form>
    <br><br>
        </section>

    {% endfor %}

{% endblock %}
