{% extends 'base.html.twig' %}

{% block title %}Qui serons nous{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
        {% for i, ticket in form.ticket %}
            <h3>Visiteur #{{ i+1 }}</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class='form-group'>
                        {{ form_label(ticket.name, 'Nom') }}
                        {{ form_widget(ticket.name, {'attr':{'class':'form-control'}})}}
                        {{ form_errors(ticket.name) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class='form-group'>
                        {{ form_label(ticket.firstName, 'Prénom') }}
                        {{ form_widget(ticket.firstName, {'attr':{'class':'form-control'}})}}
                        {{ form_errors(ticket.firstName) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class='form-group'>
                        {{ form_label(ticket.birthDate, 'Date de naissance') }}
                        {{ form_widget(ticket.birthDate, {'attr':{'class':'form-control'}})}}
                        {{ form_errors(ticket.birthDate) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class='form-group'>
                        {{ form_label(ticket.country, 'Pays d\'origine') }}
                        {{ form_widget(ticket.country, {'attr':{'class':'form-control'}})}}
                        {{ form_errors(ticket.country) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class='form-group'>
                        {{ form_widget(ticket.reducedPrice, {'attr':{}})}}
                        {{ form_label(ticket.reducedPrice, 'Tarif réduit') }}
                        {{ form_errors(ticket.reducedPrice) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    <div class='form-group'>
        {{ form_widget(form.send, {'attr':{'class':'btn btn-block btn-primary'}, 'label': 'Valider et passer à l\'étape suivante'}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
