<html>
<head></head>
<body>
<img src="{{  message.embed(logo) }}" alt="Le Louvre" />
<p>
    Bonjour,
</p>
<p>
    Voici le récapitulatif de votre commande
    <ul>
    <li>Jour de la visite :
        <b>{{ order.getDate.format('d/m/Y') }}
            {% if order.getFullDay %}
                (demi-journée)
            {% endif %}
        </b></li>
    <li>Numéro de commande : <b>{{ order.getBillingId }}</b></li>
    <li>Nombre de visiteurs : <b>{{ order.getNumber }}</b></li>
    <li>
        Adresse de facturation : <br>
        {{ order.getName }} {{ order.getFirstName }}<br>
        {{ order.getFormAddress1 }}<br>
        {% if order.getFormAddress2 != '' %}
            {{ order.getFormAddress2 }}<br>
        {% endif %}
        {{ order.getFormCP }} {{ order.getFormCity }}<br>
        {{ order.getFormCountry }}

    </li>
</ul>
</p>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Nationnalité</th>
            <th>Type</th>
            <th>Prix (€)</th>
        </tr>
    </thead>
    <tbody>
    {% for ticket in order.getTicket %}
        <tr>
            <td>{{ ticket.getName }}</td>
            <td>{{ ticket.getFirstName }}</td>
            <td>{{ ticket.getBirthDate.format('d/m/Y') }}</td>
            <td>{{ ticket.getCountry }}</td>
            <td>{{ ticket.getType }}</td>
            <td>{{ ticket.getPrice }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>